.logo .navbar-brand
      {
        height:initial;
      }

      a.navbar-brand
      {
      	padding-top: 45px;
      }

      .three{
			font-family: 'Merienda', cursive;
		}

		
		.one
		{
			background-color:#ECF0F1;
		
		}


